<div class="  slide-img">
  <div class="sales-box">

      <H1>50% OFF</H1>
  <p>shop our exclusive collections with savings up to 50% off for a limited time.</p>

  </div>
</div>

<div class="item-container">
  <!--START item-container-->

  <!--START item-->
  <div class="item">
    <div class="item-img-container">
      <div class="new">New</div>
      <img src="assets/search_bg.jpg">
      <div class="item-img-overlay">
        <a href="">SEE INFO</a>
      </div>
    </div>

    <div>
      <h3>Mobile</h3>
      <p>bla bla bla bla</p>
    </div>
    <div>
      <b>Price: 100$</b>
      <b>Off: 30%</b>
    </div>
  </div>
  <!--END item-->

  <!--START item-->
  <div class="item">
    <div class="item-img-container">
      <div class="new">New</div>
      <img src="assets/search_bg.jpg">
      <div class="item-img-overlay">
        <a href="">SEE INFO</a>
      </div>
    </div>

    <div>
      <h3>Mobile</h3>
      <p>bla bla bla bla</p>
    </div>
    <div>
      <b>Price: 100$</b>
      <b>Off: 30%</b>
    </div>
  </div>
  <!--END item-->

  <!--START item-->
  <div class="item">
    <div class="item-img-container">
      <div class="new">New</div>
      <img src="assets/search_bg.jpg">
      <div class="item-img-overlay">
        <a href="">SEE INFO</a>
      </div>
    </div>

    <div>
      <h3>Mobile</h3>
      <p>bla bla bla bla</p>
    </div>
    <div>
      <b>Price: 100$</b>
      <b>Off: 30%</b>
    </div>
  </div>
  <!--END item-->

  <!--START item-->
  <div class="item">
    <div class="item-img-container">
      <div class="new">New</div>
      <img src="assets/search_bg.jpg">
      <div class="item-img-overlay">
        <a href="">SEE INFO</a>
      </div>
    </div>

    <div>
      <h3>Mobile</h3>
      <p>bla bla bla bla</p>
    </div>
    <div>
      <b>Price: 100$</b>
      <b>Off: 30%</b>
    </div>
  </div>
  <!--END item-->

  <!--START item-->
  <div class="item">
    <div class="item-img-container">
      <div class="new">New</div>
      <img src="assets/search_bg.jpg">
      <div class="item-img-overlay">
        <a href="">SEE INFO</a>
      </div>
    </div>

    <div>
      <h3>Mobile</h3>
      <p>bla bla bla bla</p>
    </div>
    <div>
      <b>Price: 100$</b>
      <b>Off: 30%</b>
    </div>
  </div>
  <!--END item-->

  <!--START item-->
  <div class="item">
    <div class="item-img-container">
      <div class="new">New</div>
      <img src="assets/search_bg.jpg">
      <div class="item-img-overlay">
        <a href="">SEE INFO</a>
      </div>
    </div>

    <div>
      <h3>Mobile</h3>
      <p>bla bla bla bla</p>
    </div>
    <div>
      <b>Price: 100$</b>
      <b>Off: 30%</b>
    </div>
  </div>
  <!--END item-->

  <!--START item-->
  <div class="item">
    <div class="item-img-container">
      <div class="new">New</div>
      <img src="assets/search_bg.jpg">
      <div class="item-img-overlay">
        <a href="">SEE INFO</a>
      </div>
    </div>

    <div>
      <h3>Mobile</h3>
      <p>bla bla bla bla</p>
    </div>
    <div>
      <b>Price: 100$</b>
      <b>Off: 30%</b>
    </div>
  </div>
  <!--END item-->

  <!--START item-->
  <div class="item">
    <div class="item-img-container">
      <div class="new">New</div>
      <img src="assets/search_bg.jpg">
      <div class="item-img-overlay">
        <a href="">SEE INFO</a>
      </div>
    </div>

    <div>
      <h3>Mobile</h3>
      <p>bla bla bla bla</p>
    </div>
    <div>
      <b>Price: 100$</b>
      <b>Off: 30%</b>
    </div>
  </div>
  <!--END item-->
  <!--END item-container-->
</div>
