.slide-img{
  background: url("./img/slide_1_1024x1024.jpg");
  background-size: cover;
  height: 28vh;
  background-position: center bottom;
  display: flex;
}

.sales-box{
  width: 40%;
  background: #140f0ecf;
  color: white;
  margin: auto;
  height: 70%;
  border-radius: 5px;
  padding: 1% 2% 0% 5%;
  text-align: center;
}
.sales-box h1{
  font-style: italic;
  margin: 0;

}
.sales-box p{
  font-size: 1.7vw;
}
.item-container{
  height: 72vh;
  width: 80%;
  margin: auto;
}
.item-container .item{
  text-align: center;
  background: #f1f1f1;
  box-shadow: 0px 0px 3px 0.5px #888888;;
  width: 20.7%;;
  margin: 2%;
  float: left;
  border-radius: 5px;
}

.item-container .item img{
  width: 100%;
  height: 130px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.item-container .item h3{
  font-size: initial;
}
.item-container .item .new{
  position: absolute;
  right: 5%;
  top: 5%;
  color: #027700;
  font-style: italic;
  text-shadow: 0px 0px 12px #000000;
}

.item-container .item b{
  width: 50%;
  display: block;
  float: left;
  height: 20px;
  font-size: 14px;
  font-weight: normal;
}
.item-container  .item b:last-child{
 color: #00ff05;
}

.item-container .item .item-img-container {
  position: relative;
 }

 .item-container .item .item-img-container .item-img-overlay {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   position: absolute;
   bottom: 100%;
   left: 0;
   right: 0;
   text-align: left;
   background-color: #140f0ecf;
   overflow: hidden;
   width: 100%;
   height:0;
   color: white;
   transition: .5s ease;
   display: flex;

 }

 .item-container .item   .item-img-container:hover .item-img-overlay {
   bottom: 2%;
   height: 98%;
}


.item-container .item   .item-img-container .item-img-overlay a{
  color: white;
  text-decoration: none;
  display: block;
  border: 1px solid white;
  text-align: center;
  width: 41%;
  padding: 5px;
  margin:auto;
  font-size: 100%;
}

.item-container .item   .item-img-container .item-img-overlay a:hover{
 background: #0000003d;
}
