.slide-img{
  background: url("./img/slide_1_1024x1024.jpg");
  background-size: cover;
  height: 28vh;
  background-position: center bottom;
  display: flex;
}

.sales-box{
  background: #140f0ecf;
  color: white;
  margin: auto;
  height: 70%;
  border-radius: 5px;
  padding: 1% 2% 0% 5%;
  text-align: center;
}
.sales-box h1{
  font-style: italic;
  margin: 0;

}
.sales-box p{
  font-size: 1.7vw;
}
