/* You can add global styles to this file, and also import other style files */
body{
  margin: 0px!important;

}

.item-container{
  height: 72vh;
  width: 80%;
  margin: auto;
}

body *{
  outline: none;
}

.clear-both{
  clear: both
}
.space{
  padding-bottom: 40px;
}

.tool button{
  border: none;
  width: 30px;
  height: 30px;
  margin: 2px;
  background: #0000000a;
  border-radius: 50px;
}
.tool button:hover{
  background: #0013243d;
}


.tool .tooltip {
  position: relative;
  display: inline-block;
}


.tool .tooltip .tooltiptext:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent
}
.tool .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  margin-top: 5px;
}

.tool  .tooltip:hover .tooltiptext {
  visibility: visible;
}


#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;

}


#overlay .flex{
  display: flex;
}

#overlay .view{
  margin: auto;
  margin-top: 84px;
  background: white;
  width: 60%;
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .item-container .item {
    width: 29%!important;
  }
  .signup-box{
    width: 37%!important;
  }
  .signup-box .row{
    margin-bottom: 4.8%!important;
  }
}


@media screen and (max-width: 600px) {
  .item-container .item {
    width: 46%!important;
  }

  .signup-box[_ngcontent-c3] {
    width: 50% !important;
  }

}

@media screen and (max-width: 400px) {
  .item-container .item {
    width: 98%!important;
  }
  .signup-box[_ngcontent-c3] {
    margin-top: 37px!important;
    margin-bottom: 0px!important;
    width: 100% !important;
  }
}
