/* You can add global styles to this file, and also import other style files */
body{
  margin: 0px!important;

}
.item-container{
  height: 72vh;
  width: 80%;
  margin: auto;
}

body *{
  outline: none;
}

.clear-both{
  clear: both
}
.space{
  padding-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .item-container .item {
    width: 29%!important;
  }
  .signup-box{
    width: 37%!important;
  }
  .signup-box .row{
    margin-bottom: 4.8%!important;
  }
}


@media screen and (max-width: 600px) {
  .item-container .item {
    width: 46%!important;
  }

  .signup-box[_ngcontent-c3] {
    width: 50% !important;
  }

}

@media screen and (max-width: 400px) {
  .item-container .item {
    width: 98%!important;
  }
  .signup-box[_ngcontent-c3] {
    margin-top: 37px!important;
    margin-bottom: 0px!important;
    width: 100% !important;
  }
}
