/* You can add global styles to this file, and also import other style files */
body{
  margin: 0px!important;

}
body *{
  outline: none;
}


@media screen and (max-width: 1200px) {
  .item-container .item {
    width: 29%!important;
  }
}


@media screen and (max-width: 600px) {
  .item-container .item {

    width: 46%!important;
  }
}



@media screen and (max-width: 400px) {
  .item-container .item {

    width: 98%!important;
  }
}
