
<div class="search-page" >
  <div class="search-box">

    <div class="row">
      <input type="text" placeholder="Search Of Room ...">
      <button><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
    <div class="row">
      <select class="select1">
        <option >--City--</option>
        <option value="">Amman</option>
        <option value="">Zarqa</option>
        <option value="">Zrbde</option>
      </select>
      <select class="select2">
        <option>--Category--</option>
        <option value="">Mobile</option>
        <option value="">Laptop</option>
        <option value="">Accessories</option>
      </select>
    </div>

  </div>
  <div class="Read-me">
    <button>Read More</button>
  </div>

</div>

