.search-page{
  background: url("./search_bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
}

.search-box{
  width: 40%;
  background: #140f0e96;
  margin: auto;
  height: 150px;
  border-radius: 5px;
  padding: 1% 2% 0% 5%;;
}

.row{
  width: 90%;
  height: 40px;
  margin: 20px;
}

.row input{
  height: -webkit-fill-available;
  height: -mox-fill-available;
  width: 80%;
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: transparent;

}
.row button{
  width: 15%;
  height: -webkit-fill-available;
  float: left;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: transparent;
  background: #140f0ea1;
  color: white;
  font-size:110% ;
}
.row button:hover{
  background: #140f0ebf;
}
.row button:active{
  background: #140f0ee8;

}
.row select{
  width: 48%;
  float: left;
  height: -webkit-fill-available;
  outline: none;
  background: #140f0ec2;
  color: white;
}
.row .select1 {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;

}

.row .select2 {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.xx{
  position: absolute;
  margin: auto;
  bottom: 11px;
  width: 100%;
}
.xx button{
  display: block;
  margin: auto;
  background: transparent;
  border-color: #000000;
  color: #000000;
  width: 100px;
  height: 30px;
  border-radius: 4px
}

.xx button:hover{
  background: #000000;
  border-color: transparent;
  color: white;
}
