
<div class="search-page" >
  <div class="search-box">

    <div class="row">
      <input type="text" placeholder="Search Of Room ...">
      <button><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
    <div class="row">
      <select class="select1">
        <option value="">amman</option>
        <option value="">zarqa</option>
        <option value="">irbde</option>
      </select>
      <select class="select2">
        <option value="">amman</option>
        <option value="">zarqa</option>
        <option value="">irbde</option>
      </select>
    </div>

  </div>
  <div class="xx">
    <button disabled>Read More</button>
  </div>

</div>

