
<footer class="footer-distributed">

  <div class="footer-left">
cc
    <h3>Online<span>Shopping</span></h3>

    <p class="footer-links">

      <a routerLink="">Home</a>
      .
      <a *ngIf="!username" routerLink="signin">SignIn</a>
      ·
      <a *ngIf="!username" routerLink="signup">SignUp</a>
      .
      <a *ngIf="username" routerLink="myprofile">{{username}}</a>
      ·
      <a *ngIf="username" routerLink="signout">(SignOut)</a>
    </p>

    <p class="footer-company-name">Company Name &copy; 2018</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Alyasmeen</span> Amman,Jordan</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+962 78 0016378</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">jamalsiam1995@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Technology are used: Angular5, node.js ,CSS3 ,HTML5
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>
