
<div class="signup-page">

  <div class="signup-box">
      <div class="row">
        <h4>SignIn</h4>
      </div>
      <div class="row">
        <input type="email" placeholder="example@example.com" [(ngModel)]="email"  >
      </div>

      <div class="row">
        <input type="password" placeholder="*********" [(ngModel)]="password">
      </div>

      <div class="row">
        <button (click)="signIn()">SignIn</button>
      </div>
    <div class="row">
      <p class="error">{{msg}}</p>
    </div>
  </div>
</div>
