<div class="profile-page">
<div class="space"></div>

  <!--START Tool-->
  <div class="tool">
    <div class="tooltip">
      <button>
      <i class="fa fa-plus-square" aria-hidden="true"></i>
    </button>
      <span class="tooltiptext">Add Item</span>
    </div>

    <div class="tooltip">
      <button>
        <i class="fa fa-cog" aria-hidden="true"></i>
      </button>
      <span class="tooltiptext">Settings</span>
    </div>
    <div class="tooltip">
      <button>
        <i class="fa fa-bookmark" aria-hidden="true"></i>
      </button>
      <span class="tooltiptext">Saved</span>
    </div>

  </div>
  <!--END Tool-->

  <!--START publish-->
  <span>
    <h3>
      My Publish Item
    </h3>
    

  </span>
  <!--END publish-->

  <!--START cart-->
  <span>
    <h3>
      My Cart
    </h3>
  </span>
  <!--END cart-->

</div>

