<div id="overlay">
  <div class="flex">
    <div class="view convertibleBoxBig" *ngIf="displayViewResult=='app-add-item'"> <app-add-item></app-add-item> </div>
    <div class="view convertibleBoxBig" *ngIf="displayViewResult=='app-settings'"> <app-settings></app-settings> </div>
  </div>

</div>


<div class="profile-page">
<div class="space"></div>

  <!--START Tool-->
  <div class="tool">
    <div class="tooltip">
      <button onclick="on()" (click)="displayView('app-add-item')">
      <i class="fa fa-plus-square" aria-hidden="true"></i>
    </button>
      <span class="tooltiptext">Add Item</span>
    </div>

    <div class="tooltip">
      <button onclick="on()" (click)="displayView('app-settings')" >
        <i class="fa fa-cog" aria-hidden="true"></i>
      </button>
      <span class="tooltiptext">Settings</span>
    </div>
    <div class="tooltip">
      <button onclick="on()"  (click)="displayView(3)">
        <i class="fa fa-bookmark" aria-hidden="true"></i>
      </button>
      <span class="tooltiptext">Saved</span>
    </div>

  </div>
  <!--END Tool-->

  <!--START publish-->
  <span class="width100">
    <h3>
      My Publish Item
    </h3>
    <app-sale></app-sale>

  </span>
  <!--END publish-->

  <!--START cart-->
  <span class="width100">
    <h3>
      My Cart
      <app-cart></app-cart>
    </h3>

  </span>
  <!--END cart-->

</div>



