<div id="overlay" class="viewImage">
  <div class="flex">
    <img src="data:image/jpeg;base64,{{currentImage}}"  alt="">
    <i class="fa fa-chevron-circle-right right" (click)="nextImage()" aria-hidden="true"></i>
    <i class="fa fa-chevron-circle-left left" (click)="previousImage()" aria-hidden="true"></i>
    <i class="fa fa-times x" onclick="off()" aria-hidden="true"></i>
  </div>
</div>
<div class="space"></div>
<div class="view-page" >

  <img *ngIf="display!==true" class="loader" src="assets/loader.gif" alt="">
  <div *ngIf="display==true"  class="galary">
   <div>
      <div *ngFor="let img of item.images; let i = index" class="img{{i}}"><img src="data:image/jpeg;base64,{{img.image}}" height="200" width="200" alt=""></div>

     <div class="imageLength" onclick="on()"><p>{{item.images.length}}</p></div>
    </div>


  </div>
  <div *ngIf="display==true" class="info">
    <p>Item Name : {{item.name}} <small class="new">{{item.new}} </small></p>
    <p>Category : {{item.category}} <small>[3 of {{item.number}} sold]</small> </p>

      <p>Price : ${{item.price}}  <del>${{parseInt((item.price * (item.off/10)) + item.price)}}</del>  </p>
    <p>Item location: {{user.address}} </p>

    <h3>Seller Info</h3>
    <p>Name  : {{user.username}} </p>
    <p>Moblie : {{user.phone}} </p>
    <p>Email  : {{user.email}} </p>
    <div class="tool">
      <div *ngIf="user._id!==id" class="tooltip">
        <button (click)="addCart(id,item._id)" >
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </button>
        <span class="tooltiptext">Add to cart</span>
      </div>

  </div>
</div>

</div>
