<div id="overlay" class="viewImage">
  <div class="flex">
    <img src="assets/search_bg.jpg"  alt="">
    <i class="fa fa-chevron-circle-right right" aria-hidden="true"></i>
    <i class="fa fa-chevron-circle-left left" aria-hidden="true"></i>
    <i class="fa fa-times x" onclick="off()" aria-hidden="true"></i>
  </div>

</div>
<div class="space"></div>
<div class="view-page">

  <div class="galary">
   <div>
      <div class="black"><img src="assets/search_bg.jpg" height="200" width="200" alt=""></div>
      <div class="red"><img src="assets/search_bg.jpg" height="200" width="200" alt=""></div>
      <div class="green"><img src="assets/search_bg.jpg" height="200" width="200" alt=""></div>
      <div class="blue"><img src="assets/search_bg.jpg" height="200" width="200" alt=""></div>
     <div class="imageLength" onclick="on()"><p>3</p></div>
    </div>

  </div>
  <div class="info">
    <p>Item Name : samsung J7 <small class="new">new </small></p>
    <p>Category : pla pla pla pla <small>[3 of 10 sold]</small> </p>

      <p>Price : 111$  <del>120%</del>  </p>
    <p>Item location: Amman </p>

    <h3>Seller Info</h3>
    <p>Name  : Jamal </p>
    <p>Moblie : +9627812131 </p>
    <p>Email  : jamalsiam@gmail.com </p>
    <div class="tool">
      <div class="tooltip">
        <button  >
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </button>
        <span class="tooltiptext">Add to cart</span>
      </div>

  </div>
</div>

</div>
