.nav{
  background: #140f0e96;
  height: 34px;
  position: absolute;
  width: 100%;
}

.nav .buind{
	width: 50%;
	display: inline-block;
	margin: auto;
}
.nav .buind h2{
	text-transform: uppercase;
    width: fit-content;
    margin: auto;
  color: #ffffff;

}

.nav .content{
	width: 45%;
	display: inline-block;

}
.nav .content ul {
  margin: auto;
  width: 100%;
}


.nav .content ul li {
  margin-right: 14%;
  display: block;
  float: left;

}
.nav .content ul li  a{
  color: #ffffff;
  text-decoration: none;

}

.nav .content ul li  a:hover{
color: #387e84;
border-bottom: 1px solid #387e84;
}
