.nav{
  background: #140f0e96;
  height: 38px;
  position: absolute;
  width: 100%;
}

.nav .buind{
	width: 50%;
	display: inline-block;
	margin: auto;
}
.nav .buind h2{
	text-transform: uppercase;
  width: fit-content;
  margin: auto;
  position: absolute;
  bottom: 6px;
  left: 25px;
  color: #fff;
  font: normal 19px Cookie,cursive;

}

.nav .buind h2 span{
  color:  #5383d3;
}
.nav .content{
	width: 45%;
	display: inline-block;

}
.nav .content ul {
  margin: auto;
  width: 100%;
}


.nav .content ul li {
  margin-right: 14%;
  display: block;
  float: left;

}
.nav .content ul li  a{
  color: #ffffff;
  text-decoration: none;

}

