
<!--START item-->
<div class="item item{{msgDelete}}">
  <div class="item-img-container">
    <div class="new">{{data.new}}</div>
    <img src='data:image/jpeg;base64,{{data.images[0].image}}'>
    <div class="item-img-overlay">
      <a routerLink="view/{{data._id}}">SEE INFO</a>
    </div>
  </div>

  <div class="info-content">
    <h3>{{data.name}}</h3>
    <button class="delete {{msgDelete}}" *ngIf="data.userId==id" (click)="deleteItem(data._id)">{{msgDelete}}   <img *ngIf="display==true" class="loader" src="assets/loader.gif" alt=""> </button>
    <button class="delete {{msgDelete}}" *ngIf="from=='cart'" (click)="removeItemFromCart(data._id)">
    <div>
      <div>
        {{removeToCart}}
      </div>
       <div>
         <img *ngIf="display==true" class="loader" src="assets/loader.gif" alt="">
       </div>
    </div>
    </button>
    <p *ngIf="from!=='cart' &&data.userId!==id">{{data.category}}</p>
  </div>
  <div  class="info-content">
    <b>Price: {{data.price}}$</b>
    <b>Off: {{data.off}}%</b>
  </div>
</div>
<!--END item-->
