.item{
  text-align: center;
  background: #f1f1f1;
  box-shadow: 0px 0px 3px 0.5px #888888;;
  width: 20.7%;;
  margin: 2%;
  float: left;
  border-radius: 5px;
}
.itemDeleted{
  opacity: 0;
  width: 0px!important;
  margin: 2% 0;
  height: 0px!important;
  transition: all 1s ease;
}

.itemDeleted .info-content{
  opacity: 0;
  transition: all .5s ease;
}

.addtocart{
  background: #0b820012;
  border: 1px solid green;
  border-radius: 4px;
  color: green;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.addtocart:hover{
  background: green;
  color: white;
}
.Deleted{
  background: red!important;
  color: #fff!important;
}
.delete{
  background: #ff000012;
  border: 1px solid red;
  border-radius: 4px;
  color: red;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.delete:hover{
  background: red;
  color: white;

}
.loader{
  height: 16px!important;
  width: 16px!important;
  position: absolute;
  margin-top: -16px;
  margin-left: 11px;

}
 .item img{
  width: 100%;
  height: 130px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.item h3{
  font-size: initial;
}
.item .new{
  position: absolute;
  right: 5%;
  top: 5%;
  color: #027700;
  font-style: italic;
  text-shadow: 0px 0px 12px #000000;
}

.item b{
  width: 50%;
  display: block;
  float: left;
  height: 20px;
  font-size: 14px;
  font-weight: normal;
}
.item b:last-child{
  color: #00ff05;
}

.item .item-img-container {
  position: relative;
}

.item .item-img-container .item-img-overlay {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  text-align: left;
  background-color: #140f0ecf;
  overflow: hidden;
  width: 100%;
  height:0;
  color: white;
  transition: .5s ease;
  display: flex;

}

.item   .item-img-container:hover .item-img-overlay {
  bottom: 2%;
  height: 98%;
}


.item   .item-img-container .item-img-overlay a{
  color: white;
  text-decoration: none;
  display: block;
  border: 1px solid white;
  text-align: center;
  width: 41%;
  padding: 5px;
  margin:auto;
  font-size: 100%;
}

.item   .item-img-container .item-img-overlay a:hover{
  background: #0000003d;
}
